.NewSection {
  color: var(--primary-soft-orange);
  width: var(--new-section-width);
  margin-left: var(--ml-newsection);
  background-color: var(--neutral-Very-dark-blue);
  text-align: start;
  padding: 20px 1.5%;
}

.topNews {
  width: 100%;
  color: var(--neutral-Off-white);
  height: var(--news-height);
  text-align: justify;
  border-bottom: 2px solid var(--neutral-Dark-grayish-blue);
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.topNews h3 {
  margin-bottom: .75rem;
}

.topNews > p {
  color: var(--neutral-Off-white);
}

.topNews.noBottomBorder {
  border-bottom: 0px;
}
