.container {
  width: 85vw;
  padding-top: 4.6875rem;
  display: flex;
  justify-content: space-between;
}

.news-section {
  margin-right: 2rem;
  width: 100%;
  display: flex;
}

.news-section>img {
  width: 30%;
  height: 100%;
}

.news-section>.sub-section {
  display: flex;
  flex-direction: column;
  padding: 0 0 0 1rem;
  text-align: start;
}

.sub-section>h2,
p {
  width: 100%;
  color: var(--neutral-Dark-grayish-blue);
}

.sub-section>h3 {
  color: var(--neutral-Very-dark-blue);
}

.sub-section>h3:hover {
  color: var(--primary-soft-orange);
  cursor: pointer;
}

.sub-section>h2,
h3,
p {
  margin: 0;
  padding-bottom: 0.5rem;
}