.container {
  width: 100%;
  padding-top: var(--pt-news-container);
  display: flex;
  justify-content: space-between;
}

.news-section {
  height: 100%;
  display: flex;
  padding-right: var(--pr-news-section);
}

.news-section > img {
  width: var(--news-img-width);
  height: 100%;
}

.news-section > .sub-section {
  display: flex;
  flex-direction: column;
  padding-left: var(--pl-news-section);
  text-align: start;
}

.sub-section > h2,
p {
  color: var(--neutral-Dark-grayish-blue);
}

.sub-section > h3 {
  color: var(--neutral-Very-dark-blue);
  padding: .5rem 0;
}

.sub-section > h3:hover {
    color: var(--primary-soft-orange);
    cursor: pointer;
}