:root {
  --primary-soft-orange: hsl(35, 77%, 62%);
  --primary-soft-red: hsl(5, 85%, 63%);
  --neutral-Off-white: hsl(36, 100%, 99%);
  --neutral-Dark-grayish-blue: hsl(236, 13%, 42%);
  --neutral-Very-dark-blue: hsl(240, 100%, 5%);
  --neutral-Grayish-blue: hsl(233, 8%, 79%);

  --fs-heading: 2.8vw;
  --fs-subhead: 1.3vw;
  --fs-para: 1.27vw;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  text-size-adjust: auto;
}

/* 
@font-face {
  font-family: Inter-Regular;
  /* src: url(./assets/fonts/static/Inter-Regular.ttf);
} */

body {
  /* padding: 75px 11.5%; */
  font-size: var(--fs-para);
  text-align: start;
  font-family: Inter-Regular;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}