:root {
  --primary-soft-orange: hsl(35, 77%, 62%);
  --primary-soft-red: hsl(5, 85%, 63%);
  --neutral-Off-white: hsl(36, 100%, 99%);
  --neutral-Dark-grayish-blue: hsl(236, 13%, 42%);
  --neutral-Very-dark-blue: hsl(240, 100%, 5%);
  --neutral-Grayish-blue: hsl(233, 8%, 79%);
}

@font-face {
  font-family: "Inter-Regular";
  src: local("Inter-Regular"), url("./components/fonts/Inter-Regular.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: "Inter-Regular";
  font-size: .5vw;
  font-family: Inter-Regular;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
